<h1>Games#score</h1>
<p>Your word: <%= @word %></p>
<p>Length: <%= @word.length %></p>
<p>Letters available: <%= @letters %></p>
<p>Message: <%= @message %></p>
<p><%= link_to "Play again", new_path %></p>
<p>Your score: <%= @score %></p>
<!-- <p>Your total score: <%= @list_score %></p> -->
